<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="banner" class="left">welcome</div>
                <div id="panel" class="right">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

            @RenderBody()

            <div id="spacer"></div>
            <div id="footer">
            	this website was made by elves
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

    </body>
</html>
